<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Keyword Search</title>
  <link rel="stylesheet" href="assets/css/stylesheet.css" />
</head>

<body>
  <h4>Item Code Finder Using Walamart API</h4>
  <label for="keyword">Enter Keyword to Search</label>
  <input id="keyword-text" name="keyword" type="text">
  <a id="search-btn" class="btn btn-info" role="button">
	Search
   </a>
   <pre class="result-ids"></pre>
   <pre class="error-text"></pre>
  <footer>Created by <a href="https://github.com/srinaath">Srinaath Ravichandran</a></footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="assets/clientjs/client.js"></script>
</html>
