<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Keyword Search</title>
  <link rel="stylesheet" href="assets/css/stylesheet.css" />
</head>

<body>
  <h2>
  <strong>
  	Item Code Finder Using Walmart API
  </strong>
  </h2>
	
  <form action="items/search" method="get">
	  <label for="keyword">Enter Keyword to Search</label>
  		<input id="keyword-text" name="keyword" type="text">
  		<!-- <a id="search-btn" class="btn btn-info" role="button" type="submit">
			Search
	   </a> -->
	   <button type="submit">
	   	SUBMIT
	   </button>
   </form>
  
   <pre class="result-ids"></pre>
   <pre class="error-text"></pre>
  <footer><a href="https://github.com/srinaath">Srinaath Ravichandran</a></footer>
</body>
</html>
